body {
    background: linear-gradient(rgb(251, 0, 255), rgb(255, 198, 255));
    text-align: center;
    font-family: "Playwrite GB J", cursive;
    
}

#heading {
    font-weight: 100px;
    text-shadow: 1px -2px 0px antiquewhite;
}

#coverImage {
border: solid black 20px;
margin-bottom: 20px;
padding: 10px;
}



.galleryLayout {

    border: solid #6821EB 5px;
    background-image: url(/IMG/catBanner.jpg);
    max-width: none;
    background-size:contain;
    height: 200px;
    color: #40b1f2;
    text-shadow: -4px 1px 2px #000000;
}


h1 {
    display: flex;
    justify-content: center;
    font-size: 70px;
}

/*Different Page*/



.galleryImages {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 10px;
    align-items: center;

}

#catBanner {
    max-width: 400px;
}

.cat {
    max-width: 400px;
    margin-top: 10px;
}                                                      